<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>Error 无权访问！！！</title>
	<link rel="icon" href="favicon.ico" type="image/ico">
	<meta name="keywords">
	<meta name="description">
	<meta name="author" content="yinqi">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/materialdesignicons.min.css" rel="stylesheet">
	<link href="css/style.min.css" rel="stylesheet">
	<style>
		body{
			background-color: #fff;
		}
		.error-page {
			height: 100%;
			position: fixed;
			width: 100%;
		}
		.error-body {
			padding-top: 5%;
		}
		.error-body h1 {
			font-size: 210px;
			font-weight: 700;
			text-shadow: 4px 4px 0 #f5f6fa, 6px 6px 0 #33cabb;
			line-height: 210px;
			color: #33cabb;
		}
		.error-body h4 {
			margin: 30px 0px;
		}
	</style>
</head>

<body>
<section class="error-page">
	<div class="error-box">
		<div class="error-body text-center">
			<h1>403</h1>
			<h4>抱歉 您无权访问</h4>
			<h4>可能原因: 您可能直接访问服务器 这是不被允许的!!<br>如果确认连接有效 请直接联系管理员</h4>
		</div>
	</div>
</section>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript">;</script>
</body>
</html>